/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Lato:wght@400;700&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Lato:wght@400;700&family=Marck+Script&family=Tilt+Prism&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* ¡¡¡¡¡ ARRANCAMOS CON EL CODIGO !!!! */

/* usamos el selector universal para afectar a 
todos los elementos */



/* *********************************************************************************** */





#header{
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    position: fixed;
    border-bottom-style: ridge;
    color:  #0f0f0f;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    
    


}
   
#body{
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    color:  #0f0f0f;
    font-size: 18px;
    line-height: 1.2;

}

footer{
    height: 90px;
    background-color: #af599e;
    text-align: center;
    color:  #fbfbfb;
    font-size: 18px;
    line-height: 1.2;

}

h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
}

.espaciado{
    margin-top: 20px;
    margin-bottom: 20px;

}


section{
    
    min-height: 100vh;
    text-align: center;
    

}

#logo{
    height: 70px;
    width: 120px;
    
    

}

#marca{
    font-family: 'Marck Script', cursive;
}

#navegador{
    
    
    display: inline-block;
    padding: 15px;
    width: 150px;
    text-align: center;
    
    
    
}

nav ul li {
    display: inline-block;
    
}

#inicio{
    margin-bottom: 50px;
}

#fotoprincipal{
    border-radius: 50%;
    margin-top: 120px;
    text-align: center;
    width: 100%;
    
    max-width: 400px;
    
    
}





#boton{
    background-color: #af599e;
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 180px;
    color: #fbfbfb;
    font-size: 20px;
    
    
}

#contacto{
    padding-top: 100px;
    
}

#hablemos{
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 5px 5px 5px 5px;
    color: #0f0f0f;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;


    
    
    padding: 20px;
    padding-top: 15px;
    
    
    
}




.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    

    
  }

  .flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap */
    margin-top: 40px;
    height: 30px;
    align-items: center;
    
    

  }

  .flex-containerfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 90px;
    
  }

  @media(max-width:700px){
   
    #fotoprincipal{
        max-width: 200px;
        max-height: 200px;
    
    }
}

  

  /* https://www.w3schools.com/css/css3_flexbox_container.asp */

